body.admin-bar {
  background: #181b24 !important;
  padding: 0px !important;
}
.wp-block-post-content.wp-block-post-content {
  background: #181b24;
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
.block-editor-iframe__body {
  background: #181b24;
}
html :where(.editor-styles-wrapper) {
  background: #181b24 !important;
  color: initial;
  font-family: serif;
  font-size: medium;
  line-height: normal;
}
.editor-styles-wrapper.block-editor-writing-flow {
  margin: 0;
  padding: 0;
  background: #181b24 !important;
}
.editor-visual-editor__post-title-wrapper.edit-post-visual-editor__post-title-wrapper {
  padding: 20px;
  background: white;
  margin: 0px !important;
}
.editor-visual-editor__post-title-wrapper.edit-post-visual-editor__post-title-wrapper
  h1 {
  border: 1px solid lightgray;
  padding: 15px;
  font-size: 18px;
}
.wp-block-paragraph {
  padding: 10px;
  background: #425079 !important;
  color: white !important;
  border: 2px dashed #2963ff !important;
}
.editor-styles-wrapper :where(:not(.is-layout-flex,.is-layout-grid))>.wp-block {
  margin-left: auto;
  margin-right: auto;
  margin: 0;
}
.wp-block .remove-image-button {
  background-color: black !important;
  color: white !important;
  border: none !important;
  box-shadow: none !important;
}
.wp-block .remove-image-button:hover,
.wp-block .remove-image-button:focus,
.wp-block .remove-image-button:active {
  background-color: black !important;
  color: white !important;
  box-shadow: none !important;
  outline: none !important;
}
h1.wp-block.wp-block-post-title.block-editor-block-list__block.editor-post-title.editor-post-title__input.rich-text {
  max-width: 640px;
  width: 100%;
}

.editor-visual-editor__post-title-wrapper.edit-post-visual-editor__post-title-wrapper {
  display: flex;
  justify-content: center;
}

@media (max-width: 430px) {
  .wp-block-post-content.wp-block-post-content {
    padding: 16px 12px;
  }
  .block-editor-iframe__body {
    padding: 8px;
  }
}
