@import "vars";
@import "media";

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 16px;
}

body {
  scroll-behavior: smooth;
  margin: 0;
  font: 300 toRem(18)/1.8 $roboto;
  color: $black-text;
  letter-spacing: 0;
  background-color: $white;

  @include max-mobile {
    font-size: toRem(16);
  }
}

video {
  border: 0;
  outline: none;
}

img {
  display: block;
  outline: none;
  max-width: 100%;
  width: 100%;
  height: 100%;
}

p {
  a:not(.btn) {
    text-decoration: underline;
  }
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: inherit;
  font: inherit;
}

.container {
  width: min(100%, 1440px);
  padding: 0 70px;
  margin-left: auto;
  margin-right: auto;

  @include max-tablet {
    padding: 0 32px;
  }

  @include max-mobile {
    padding: 0 16px;
  }
}

.no-scroll {
  overflow: hidden;
}

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}